---
import Layout from '../layouts/Layout.astro';
import TerminalWindow from '../components/TerminalWindow.astro';
---

<Layout title="System Info">
  <div class="max-w-2xl mx-auto">
    <TerminalWindow title="neofetch">
      <div class="flex flex-col md:flex-row gap-8 font-mono text-sm">
        
        <div class="text-blue-500 select-none hidden md:block leading-tight">
          <pre data-copy="false">
       /\        
      /  \       
     / /\ \      
    / ____ \     
   /_/    \_\    
   0xGhost OS    
          </pre>
        </div>

        <div class="space-y-2">
          <div>
            <span class="text-blue-400 font-bold">user@0xGhost</span>
            <span class="text-zinc-500">-----------------</span>
          </div>
          
          <div class="grid grid-cols-[100px_1fr] gap-x-4">
            <span class="text-green-400">OS</span>
            <span class="text-zinc-300">Arch Linux (btw)</span>

            <span class="text-green-400">Host</span>
            <span class="text-zinc-300">Vercel Hobby Tier</span>

            <span class="text-green-400">Kernel</span>
            <span class="text-zinc-300">Astro 5.0</span>

            <span class="text-green-400">Shell</span>
            <span class="text-zinc-300">Zsh 5.9</span>

            <span class="text-green-400">Theme</span>
            <span class="text-zinc-300">0xGhost Dark (Custom)</span>
            
            <span class="text-green-400">Source</span>
            <a href="https://github.com/ttheghost/0xghost" class="text-blue-400 hover:underline">/src/github/repo</a>
          </div>

          <div class="flex gap-2 mt-4">
            <div class="w-6 h-3 bg-black"></div>
            <div class="w-6 h-3 bg-red-500"></div>
            <div class="w-6 h-3 bg-green-500"></div>
            <div class="w-6 h-3 bg-yellow-500"></div>
            <div class="w-6 h-3 bg-blue-500"></div>
            <div class="w-6 h-3 bg-purple-500"></div>
            <div class="w-6 h-3 bg-cyan-500"></div>
            <div class="w-6 h-3 bg-white"></div>
          </div>
        </div>

      </div>
    </TerminalWindow>
  </div>
</Layout>