---
import '../styles/global.css';
import BaseHead from '../components/BaseHead.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Analytics from '@vercel/analytics/astro';

const { title, description = "Systems engineering, C++, and compilers." } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-zinc-950 text-zinc-100">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="max-w-6xl mx-auto px-6 py-12 antialiased">
		<Navbar />

		<div class="h-2"></div>

		<slot />

		<div class="h-12"></div>

		<Footer />

		<script>
			// Add copy button to code blocks that doesn't have data-copy attr as false
			const blocks = document.querySelectorAll('pre');

			blocks.forEach((block) => {
				if (block.getAttribute("data-copy") == "false") {
					return;
				}
				const button = document.createElement('button');
				button.className = 'absolute top-2 right-2 text-xs bg-zinc-800 text-zinc-300 px-2 py-1 rounded hover:bg-zinc-700 transition-colors border border-zinc-700';
				button.innerText = 'Copy';
				
				const wrapper = document.createElement('div');
				wrapper.className = 'relative group';
				
				block.parentNode.insertBefore(wrapper, block);
				wrapper.appendChild(block);
				wrapper.appendChild(button);

				button.addEventListener('click', async () => {
					await navigator.clipboard.writeText(block.innerText);
					button.innerText = 'Copied!';
					setTimeout(() => button.innerText = 'Copy', 2000);
				});
			});

			// Add and auto generator for "Deep Links" to Headings
			const headings = document.querySelectorAll('.prose h2, .prose h3');
			headings.forEach((heading) => {
				if (!heading.id) return;

				const link = document.createElement('a');
				link.href = `#${heading.id}`;
				link.className = 'ml-2 text-zinc-700 hover:text-zinc-400 transition-colors no-underline opacity-0 group-hover:opacity-100';
				link.innerText = '#';
				
				heading.classList.add('group', 'relative');
				heading.appendChild(link);
			});
		</script>
		<Analytics/>
    </body>
</html>